*,*::after,*::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-margin-top: 0;
}
body,html{
    font-size: 14px;
    scroll-behavior: smooth;
    font-family: iransans;
}
.content1{
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    float: left;
    background-color: black;
    border: 10px solid white;
    position: relative;
}
.blackDiv{
    width: cal(100% - 20px);
    height: cal(100% - 20px);
}
.yellowDiv{
    width: 60%;
    height: 60%;
    position: absolute;
    bottom: 0;right: 0;
    background-color: #F9FE03;
}
.redDiv{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30px;right: 0;
    background-color: red;
}
/* ///////////////////////////// */
.content2{
    /* width: 100%;
    height: 100vh; */
    width: 580px;
    height: 690px;
   
    float: left;
    margin-top: 50px;
    background-color: #463836;
    border: 10px solid white;
    padding: 10px;
}
.content2>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top_part{
    height: 70%;
}
.bottom_part{
    height: 30%;
}
.box1,.box2{
    background-color: white;
}
.w30{
    width: 30%;
}
.box1{
    height: calc(40% - 20px);
}
.box2{
    height: 60%;
}
.box3{
    width: calc(70% - 15px);
    height: 100%;
    background-color: #FE121C;
    align-self: flex-end;
}
.bottom_part{
    padding-top: 15px;
}
.box4{
    background-color: #199CC8;
    height: 100%;
}
.box5{
    width: 50%;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
}
.box6,.box7{
    width: calc(20% - 35px);
    background-color: white;
    height: 44%;
    margin-left: 5px;
}
.box7{
    background-color: #F9FE03;
}