*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-margin-top: 0;
}

body,
html {
    font-size: 14px;
    scroll-behavior: smooth;
    font-family: iransans;
}

.content1 {
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    background-color: black;
    border: 10px solid white;
    position: relative;
}

.blackDiv {
    width: cal(100% - 20px);
    height: cal(100% - 20px);
}

.yellowDiv {
    width: 60%;
    height: 60%;
    /* width: 468px;
    width: 468px; */
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #F9FE03;
}

.redDiv {
    width: 156px;
    height: 156px;
    position: absolute;
    top: 48px;
    right: 0;
    background-color: red;
}

/* ///////////////////////////// */
.content2 {
    /* width: 100%;
    height: 100vh; */
    width: 725px;
    height: 820px;

    float: left;
    margin-top: 50px;
    background-color: #463836;
    border: 10px solid white;
    padding: 10px;
}

.content2>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top_part {
    /* height: 70%; */
    height: 565px;
}

.box1,
.box2 {
    width: 220px;
    background-color: white;
}

.w30 {
    /* width: 30%; */
}

.box1 {
    width: 220px;
    height: 240px;
    margin-bottom: 28px;
    /* height: calc(40% - 20px); */
}

.box2 {
    height: 295px;
}

.box3 {
    /* width: calc(70% - 15px); */
    width: 450px;
    /* height: 100%; */
    height: 570px;
    background-color: #FE121C;
    align-self: flex-end;
    margin-left: 15px;
}

.bottom_part {
    height: calc(100% - 565px);
    padding-top: 15px;
}

.box4 {
    width: 220px;
    height: 202px;
    background-color: #199CC8;
    /* height: 100%; */
}

.box5 {
    /* width: 50%; */
    width: 365px;
    /* height: 100%; */
    height: 202px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
}

.box6,
.box7 {
    /* width: calc(20% - 35px); */
    /* height: 44%; */
    width: 60px;
    height: 85px;
    background-color: white;
    margin-left: 5px;
}

.box7 {
    background-color: #F9FE03;
}

.content3,
.content4 {
    width: 100%;
    height: 100vh;
    border: 1px solid;
    float: left;
}

.card {
    width: 840px;
    height: 252px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    margin: calc((100vh - 252px)/2) auto;
    text-align: center;
    overflow: hidden;
}

.card>header,
.card>footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 20px;
}

.card>p {
    margin: 15px auto;
    font-size: 18px;
}

.card>button {
    width: 132px;
    height: 36px;
    background-color: rgb(20, 108, 242);
    color: white;
    border: unset;
    border-radius: 5px;
}

.card>footer {
    margin-bottom: 0;
    border-bottom: unset;
    border-top: 1px solid rgb(219, 219, 219);
    margin-top: 12px;
    color: rgb(112, 116, 115);
}

/* ///////////////////////// */
.content4 {
    background-color: rgb(41, 127, 184);
}

.loginForm {
    width: 330px;
    height: 260px;
    background-color: white;
    border-radius: 5px;
    margin: 10px auto;
    padding: 25px;
}

.loginForm>h1 {
    color: rgb(120, 120, 118);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.loginForm>input {
    width: 100%;
    height: 42px;
    line-height: 45px;
    background-color: rgb(236, 240, 241);
    color: rgb(112, 116, 115);
    text-align: center;
    border: unset;
    border-radius: 5px;
    margin-bottom: 10px;
}

.loginForm>input:focus-visible,
.loginForm>input:focus {
    border: none;
    outline: none;
}

.loginForm>input:last-of-type {
    height: 48px;
    line-height: 48px;
    background-color: rgb(41, 127, 184);
    color: white;
    margin-bottom: 0;
    font-size: 16px;
    cursor: pointer;
}

/* ///////////////////////// */
.content5 {
    width: 100%;
    min-height: 100vh;
    float: left;
}

.c5_header,
.content5>footer {
    width: 100%;
    height: 60px;
    float: left;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 0 3%;
    margin-bottom: 25px;
}

.c5_header>h1,
.c5_header>ul,
.c5_header>ul>li {
    display: inline-block;
    height: 100%;
    line-height: 60px;
    color: rgb(112, 116, 115);
}

.c5_header>ul {
    float: right;
}

.c5_header>ul>li {
    width: 60px;
    height: 38px;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    color: rgb(41, 127, 184);
    cursor: pointer;
    float: left;
    margin-top: 11px;
}

.c5_header>ul>li:first-of-type {
    background-color: rgb(41, 127, 184);
    color: white;
}

.wrraper {
    width: 100%;
    float: left;
    padding: 0 3%;
    margin-bottom: 10px;
}


.part1 {
    width: 100%;
    height: 330px;
    padding: 50px;
    text-align: center;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-bottom: 40px;
}

.part1>h2 {
    font-size: 70px;
}

.part1>p {
    line-height: 1.5;
    margin: 20px 0;
}

.part1>button {
    width: 156px;
    height: 50px;
    background-color: rgb(90, 185, 91);
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.part2 {
    width: 100%;
    float: left;
}

.p2_card {
    width: 48%;
    height: 90px;
    margin-bottom: 25px;
    float: left;

}

.p2_card>p {
    line-height: 1.4;
}

.p2_card:nth-of-type(even) {
    float: right;
}

.p2_card>h2 {
    margin-bottom: 10px;
}

.content5>footer {
    margin-bottom: 0;
    border-bottom: none;
    border-top: 1px solid rgb(219, 219, 219);
    padding-top: 10px;
    color: rgb(112, 116, 115);
}

/* //////////////////////////////// */
.content6 {
    width: 100%;
    float: left;
}

.content6>section {
    width: 20px;
    position: fixed;
    right: 10px;
    top: calc((100vh - 115px)/2);
    z-index: 20;
}

.content6>section>a {
    width: 15px;
    height: 15px;
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.content6>div,.content6>figure {
    width: 100%;
    height: 100vh;
    color: white;
    position: inherit;
    float: left;

}

.slide-1 {
    background-color: rgb(55, 73, 93);
}

.slide-2 {
    background-color: rgb(101, 194, 113);
}

.slide-3 {
    background-color: rgb(218, 96, 75);
}

.slide-4 {
    background-color: rgb(199, 96, 38);
}

.slide-5 {
    background-color: rgb(145, 102, 181);
}

.slide-1>div {
    width: 198px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid white;
    margin: calc(50vh - 17px) auto 0;
    font-size: 16px;
}
.content6>figure{
    padding: 190px 6%;
}
.content6>figure>img{
    width: 45%;
    /* height: 124px; */
    min-height: 200px;
    float: right;
    object-fit: cover;
}
.content6>figure>figcaption{
    width: 220px;
    width: 45%;
    display: inline-block;
    float: left;
    line-height: 1.2;
    margin-top: 54px;
}
.content6>figure>figcaption>h2{
    padding: 8px 15px;
    border: 1px solid white;
    text-align: center;
    margin-bottom: 10px;
}